<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <style>
        body {
            width: calc(100% - 300px);
            margin-left: 300px;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;

        }
        h3{
        margin-left: 45px;
        font-weight: 400;
            font-size: 15px;
            color: rgb(0, 41, 95);
            border-bottom: 1px solid rgb(173, 173, 173);
          width: 80%;

       }
        
        #profileList {
            max-width: 100%;
            height: 420px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-left: 40px;
        }
        
        li {
            display: block;
            margin-bottom: 15px;
            font-weight: 400;
            
        }
        
        span {

            padding: 10px;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 25px;
            font-weight: bold;
        }
        
        .button-container {
            margin-top: 170px;
            text-align: left;
        }
        
        .btn-modifier {
            background-color: #15113d;
            color: white;
            padding: 10px 20px;
            font-size: 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 0px;
            margin-bottom: 20px;
        }
        .btn-save {
            background-color: #616161;
            color: white;
            padding: 10px 20px;
            font-size: 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 0px;
            margin-bottom: 20px;
        }
        
        .btn-modifier:hover,
        .btn-save:hover {
            background-color: #ffffff;
            color: rgb(85, 85, 85);
            box-shadow: 1px 5px 2px 0 rgba(0, 0, 0, 0.1);
            
        }
    </style>
</head>
<body>
    <%- include('./sideBarProf') %>
    <div class="container">
        <h3 class="profil">Votre Profil</h5>
        <div class="ulElements">
            <ul id="profileList">
                <li class="item1">Nom : <span id="nom"><%= prof.nom%></span></li>
                <li class="item1">Prénom : <span id="prenom"><%= prof.prenom %></span></li>
                <li class="item1">Role : <span id="role"><%= prof.role %></span></li>
                <li class="item1">Mot de passe : <span id="password"><%= prof.password %></span></li>
                <li class="item1">Username : <span id="username"><%= prof.username %></span></li>    
                <div class="button-container">
                    <button class="btn-modifier" onclick="modifyProfile('<%= prof.id %>', '<%= prof.idcompte %>')">Modifier</button>
                    <button class='btn-save' id='save'>Enregistrer</button>    
                </div>

            </ul>
        </div>
       
        <div class="content">
            <ul>
                <script>
                    async function modifyProfile(userId, compteId) {
 
                        // Prompt the user for new values
                        const nomSpan = document.getElementById("nom");
                        const prenomSpan = document.getElementById("prenom");
                        const roleSpan = document.getElementById("role");
                        const passwordSpan = document.getElementById("password");
                        const usernameSpan = document.getElementById("username");

                        // Replace the content with input fields
                        nomSpan.innerHTML = `<input type="text" id="inputNom" value="${nomSpan.innerText}">`;
                        prenomSpan.innerHTML = `<input type="text" id="inputPrenom" value="${prenomSpan.innerText}">`;
                        roleSpan.innerHTML = `<input type="text" id="inputRole" value="${roleSpan.innerText}">`;
                        passwordSpan.innerHTML = `<input type="password" id="inputPassword" value="${passwordSpan.innerText}">`;
                        usernameSpan.innerHTML = `<input type="text" id="inputUsername" value="${usernameSpan.innerText}">`;
                        // Make an AJAX request to update the user data

                        const nom = document.getElementById("inputNom");
                        const prenom = document.getElementById("inputPrenom");
                        const role = document.getElementById("inputRole");
                        const password = document.getElementById("inputPassword");
                        const username = document.getElementById("inputUsername");

                        document.getElementById('save').addEventListener("click", () => 
                        {

                            console.log(userId, compteId)


                            // Make a POST request to /updateProfile endpoint
                            fetch('/comptes',  {
                                method: 'Post',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                
                                body: JSON.stringify({
                                    id: userId,
                                    nom: nom.value,
                                    prenom: prenom.value,
                                    role: role.value,
                                    password: password.value,
                                    username: username.value,
                                    idcompte: compteId
                                })

                            })
                            .then(response => response.text())
                            .then(() => { 

                                    const inputNom = nom.value;
                                    const inputPrenom = prenom.value;
                                    const inputRole = role.value;
                                    const inputPassword = password.value;
                                    const inputUsername = username.value;

                                    nomSpan.innerHTML = `<span id="nom">${inputNom}</span>`;
                                    prenomSpan.innerHTML = `<span id="nom">${inputPrenom}</span>`;
                                    roleSpan.innerHTML = `<span id="nom">${inputRole}</span>`;
                                    passwordSpan.innerHTML = `<span id="nom">${inputPassword}</span>`;
                                    usernameSpan.innerHTML = `<span id="nom">${inputUsername}</span>`;
                            })
                            .catch(error => {
                                console.error(error);
                            // Optionally, show an error message to the user
                            });
                        })
                    }
                </script>
                
            </ul>
        </div>

    </div>
    
    
   
</body>
</html>