<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            width: calc(100% - 200px);
            margin-left: 270px;
        }

        .seanceList{
            display: flex;
            flex-direction: column;
        }

        .item{
            border: 0.5px grey solid;
            border-radius: 10px;
            margin-bottom: 10px;
            max-width: 65%;
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;

        }
        .detail{
            margin-left: 500px;
        }
        .detailContainer{
            position: fixed;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 0.5px solid grey;
            border-radius: 10px;
            z-index: 10;
            background-color: white;
            width: 500px;
            max-width: 70%;

        }

        .detailContainerHeader{
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid grey;
        }

        .detailContainerHeader h5{
            font-size: 1.25rem;
            font-weight: bold;
        }

        .detailContainerHeader .close-btn{
            cursor:  pointer;
            border: none;
            outline: none;
            background: none;
            font-size: 1.25;
            font-weight: bold;
        }

        .detailContainerBody{
            padding: 10px 15px;
        }
        
        

    </style>
</head>
<body>
    <%- include('sideBarProf') %>
    <div class="container">
        <h1>Séances</h1>
        <% console.log(seanceList) %>
        <% if (seanceList.length > 0) { %>
            <div class="seances">
                <ul class="seanceList">
                <% for (let i = 0; i < seanceList.length; i++) { %>
                    <div class="item">
                        <li class="seance" data="<%= seanceList[i].id %>"> Séance <%= seanceList[i].numero %> </li>
                        <button class="detail" >Voir détail...</button>
                        <div class="detailContainer">
                            <div class="detailContainerHeader">
                                <h5>Séance <%= seanceList[i].numero %></h5>
                                <button class="close-btn">&times;</button>
                            </div>
                            <div class="detailContainerBody">
                                <li>Le <%= seanceList[i].date %></li>
                                <li>De <%= seanceList[i].hd %> A <%= seanceList[i].hf %></li>
                                <li>Objectifs : <%= seanceList[i].obj %></li>
                                <li>Remarques : <%= seanceList[i].rmq %></li>
                            </div>
                            <div class="detailContainerFooter">
                                <button>Modifier</button>
                                <button>Supprimer</button>
                            </div>
                        </div>
                    </div>
                    
                <% } %>
                </ul>
            </div>
        <% } else { %>
            <h5>Aucune séance n'est ajoutée</h5>
        <% } %>
          
        
        <button onclick="ajouterSeance('<%= courseId %>')">Ajouter</button>

    </div>

    <script>
        // const queryString = window.location.search;
        // const urlParams = new URLSearchParams(queryString);

        // // Check if the dropdown query parameter is present and has the value 'true'
        // const isDropdownOpen = urlParams.get('dropdown') === 'true';

        // if (isDropdownOpen) {
        // }
        function ajouterSeance(courseId){
            location.href = '/seance/' + courseId
        }

        // Récupérer les éléments de la liste et du bouton
            // Récupérer les éléments de la liste et des boutons de détail
        // var seanceItems = document.getElementsByClassName('seance');
        // var detailButtons = document.getElementsByClassName('detail');
        // var detailContainers = document.getElementsByClassName('detailContainer');

        // // Ajouter des gestionnaires d'événement aux boutons "Voir détail"
        // for (var i = 0; i < detailButtons.length; i++) {
        //     detailButtons[i].addEventListener('click', voirDetail);
        // }

        // function voirDetail(event) {
        //     // Flouter la page
        //     document.body.style.filter = 'blur(5px)';
            
        //     // Récupérer l'index du bouton "Voir détail" cliqué
        //     var index = Array.prototype.indexOf.call(detailButtons, event.target);
            
        //     // Afficher le container de détails correspondant
        //     detailContainers[index].style.display = 'block';
        //     detailContainers[index].classList.add('show');
        // }

        // // Gérer le clic sur un élément de séance
        // for (var i = 0; i < seanceItems.length; i++) {
        //     seanceItems[i].addEventListener('click', function() {
        //         var seanceId = this.getAttribute('data-id');
                
        //         // Charger les détails de la séance en fonction de son ID
        //         // Utilisez AJAX ou une autre méthode pour obtenir les détails de la séance
                
        //         // Mettre à jour le contenu du container de détails correspondant
        //         var index = Array.prototype.indexOf.call(seanceItems, this);
        //         detailContainers[index].innerHTML = 'Détails de la séance avec ID ' + seanceId;
        //     });
        // }

        

    </script>


    
</body>
</html>