<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sideBar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <script>
        // function myFunction(event) {
        //     const liElement = event.target;

        //     if (liElement.getAttribute('name') === 'first') {
        //         location.href = '/adminDashboard';
        //     // } else if (liElement.getAttribute('name') === 'second') {
        //     //     location.href = '/cours';
        //     } else {
        //         location.href = '/comptes';
        //     }
        //     } 
    </script>
    <style>
        body{
            font-family: 'Poppins' ;
        }
        h1, h5{
            font-family: 'Poppins' ;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        .sideBar{
            position: fixed;
            background: rgb(13, 13, 53);
            width: 200px;
            padding: 20px;
            left: 0;
            top: 0;
            bottom: 0;
        }
        .bienvenu{
            margin-bottom: 10px;
            color: aqua;
            font-size: 20px;
        }
        .item2 {
            margin-bottom: 10px;
            cursor: pointer;
            color: white;
        }
        #item2{
            margin-top: 50px;
        }

        .item2:hover {
            color: #fff;
            background-color: #537299;
        }
        .hello, .avancement{
            width: calc(100% - 200px);
            padding: 20px;
            margin-left: 250px;
        }
        .avancement{
            margin-top: 100px;
        }
        .secondeUl {
        list-style-type: none;
        cursor: pointer;
        }
        .dropdown-header{
            color: #fff;
            margin-bottom: 10px;

        }
        .dropdown-header:hover{
            color: #fff;
            background-color: #537299;

        }

        .dropdown-header::after {

        display: inline-block;
        margin-left: 5px;
        transition: transform 0.3s ease;
        }


        .elt {
        display: none;
        color: white;
        margin-left: 10px;
        }
        .elt:hover {
        color: white;
        margin-left: 10px;
        background: rgb(48, 48, 100);
        padding-left: 10px;
        }

        .open {
        display: block;
        margin-bottom: 5px;
        }
        .seancePage{
            width: calc(100% - 200px);
            margin-left: 270px;
        }
        .addButton{
            width: calc(100% - 200px);
            margin-left: 270px;

        }
    </style>
</head>
<body>
    <div class="seancePage" id="seanceListContainer">
    </div>
    <div class="sideBar">
        <h5 class="bienvenu">Bienvenue</h5>
        <ul>
            <li name="first" class="item2" id="item2" onclick="afficherDashboard()">Dashboard</li>
            <script>
                function afficherDashboard(){
                    location.href = '/profDashboard'
                }
            </script>
             <div  class='secondUl'onclick="dropdown(event)">
                <li class="dropdown-header">Cours</li>
                <% for (var i = 0; i < coursList.length; i++) { %>
                    <li class="elt" onclick="eltClick(event)" data="<%= coursList[i].id %>"><%= coursList[i].nom %></li>
                <% } %>
            </div>
            <% if (prof.role == 'CF') { %>
                <div  class='secondUl'onclick="dropdown(event)">
                    <li class="dropdown-header">Filière <%= Filiere.nom %></li>
                    <% for (var i = 0; i < coursListParFiliere.length; i++) { %>
                        <li class="elt" onclick="eltClick(event)" data="<%= coursListParFiliere[i].idcours %>"><%= coursListParFiliere[i].nom %></li>
                    <% } %>
                </div>
            <% } %>
           
            

            <script>
                function eltClick(event){
                    var courseId = event.target.getAttribute('data');  
                    location.href = '/seanceList/' + courseId
                }
                
                
                function dropdown(event) {
                    var target = event.target;
                    if (target.tagName === 'LI' && target.classList.contains('dropdown-header')) {
                        target.classList.toggle('open');
                        var dropdownItems = target.parentNode.getElementsByTagName('li');
                        for (var i = 1; i < dropdownItems.length; i++) {
                            dropdownItems[i].classList.toggle('open');
                        }
                    }
                }
                function ajouterSeance(){
                    location.href = "/seance"
                }
            </script>
            <li name="third" class="item2" onclick="afficherProfil()">Profile</li>
            <script>
                function afficherProfil(){
                    location.href = '/comptes'
                }
            </script>
        </ul>
    </div>
    
</body>
</html>